<!DOCTYPE html>
<html lang="en">
<head>
    <title>News Vendor Game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="News Vendor, Supply Chain Management,">
    <meta name="description" content="UBC Sauder Supply Chain Management Online Tutorial Tool">

</head>
<body>
{% if current_user.is_authenticated %}
    <div>
        OpLog: <a href={{ url_for('logout') }}>Sign out</a>
    </div>
{% endif %}

<hr>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

{% block content %}
{% endblock %}
</body>
</html>