{% extends 'game/base_normal.html' %}

{% block content %}

    <h1> Start of day {% if game_mode == 1 or game_mode == 2 %}
        {{ current }}!
    {% endif %}</h1>
    <br/>
    <p>Number of Rounds: {{ values['rounds'] }}</p>
    <p>Unit Wholesale Price: ${{ values['wholesale_price'] }}</p>
    <p>Unit Retail Price: ${{ values['retail_price'] }}</p>
    <p>
        <strong>Demand Pattern: FROM
            {% if distribution != 'Pool' %}
                {{ distribution }}
            {% else %}
                Sample
            {% endif %}
            Distribution
        </strong>
    </p>
    {% if distribution == 'Pool' %}
            <p>Historical Demand Samples: {{ to_show }}</p>
            <p>Demands From Previous Rounds: {{ previous }}</p>
        {% elif distribution == 'Normal' %}
            <p>Demand Mean: {{ values['parameters'][current - 1][distribution]['mean'] }}</p>
            <p>Demand Standard Deviation: {{ values['parameters'][current - 1][distribution]['standard_deviation'] }}</p>
        {% elif distribution == 'Triangular' %}
            <p>Demand Peak: {{ demand_peak }}</p>
        {% elif distribution == 'Uniform' %}
            <p>Demand Range: {{ demand_range }}</p>
        {% endif %}
    {% if values['treatment'] < 3 %}
        {{ demand }}
    {% endif %}
    <br>
    <form method="post">
        <p>
            <label for="ordered">Place your order here:</label>
            <input type="number" step="1" min="0" id="ordered" name="ordered" required>
        </p>
        <p>
            <input type="submit" value="Send order for today!">
        </p>
    </form>
{% endblock %}

