<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="News Vendor, Supply Chain Management,">
    <meta name="description" content="UBC Sauder Supply Chain Management Online Tutorial Tool">
    <title>Admin Page</title>
    <script type="text/javascript">
        const types = ['Normal', 'Triangular', 'Uniform', 'Pool'];
        function addFields() {
            let treatment = document.getElementById('treatment').value;
            // Number of inputs to create
            let number = 1;
            if (treatment > 2){
                // Number of inputs to create
                number = document.getElementById("rounds").value;
            }
            // Container <div> where dynamic content will be placed
            let container = document.getElementById("container");
            // Clear previous contents of the container
            while (container.hasChildNodes()) {
                container.removeChild(container.lastChild);
            }
            for (let i = 1; i <= number; i++) {
                // Append a node with a random text
                container.appendChild(document.createTextNode("Distribution " + i));
                // Create an <input> element, set its type and name attributes
                let distribution = document.createElement("select");
                distribution.setAttribute('name', 'distributions[]');
                distribution.setAttribute('required', 'true');
                for (let type of types){
                    let option = document.createElement('option');
                    option.value = type;
                    option.text = type;
                    distribution.appendChild(option)
                }
                container.appendChild(distribution);
                // Append a line break
                container.appendChild(document.createElement("br"));
            }
            // <label for="name">What will you name this template?</label>
    {#<input type="text" name="name" id="name" required>#}
    {#<input type="submit" value="Create distribution">#}
            let distribution_name = document.createElement('input');
            distribution_name.type = 'text'
            distribution_name.required = true;
            distribution_name.name = 'name';
            distribution_name.id = 'name';
            let label = document.createElement('label');
            label.setAttribute('for', 'name');
            label.innerHTML = "What will you name this template?";
            container.appendChild(label);
            container.appendChild(distribution_name);
            let submit = document.createElement('input')
            submit.type = 'submit'
            submit.value = 'Next step'
            container.appendChild(submit)
        }
    </script>
</head>
<body>
{% if current_user.is_authenticated %}
    <div>
        Admin: <a href="{{ url_for('logout') }}">Logout</a> <a href="{{ url_for('admin_home') }}">Admin Homepage</a>
    </div>
    <br>
    Hello {{ current_user.name }}!
    <br>
{% endif %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <hr>
        <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
<h1>What kind of distribution would you like to create?</h1>
<br>
<h2>Here are a list of treatment groups to choose from</h2>
<table style="width: 25%; border-collapse: collapse; border: 1px solid black;">
    <tr>
        <th>Group</th>
        <th>Same distribution for each round</th>
        <th>Display profit</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Yes</td>
        <td>Yes</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Yes</td>
        <td>No</td>
    </tr>
    <tr>
        <td>3</td>
        <td>No</td>
        <td>Yes</td>
    </tr>
    <tr>
        <td>4</td>
        <td>No</td>
        <td>No</td>
    </tr>
</table>
<br>
<form method="post">
    <label for="treatment">What type of treatment group is this template for?</label>
    <select id="treatment" name="treatment" required>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
    </select>
    <br>
    <label for="wholesale_price">Set the wholesale price</label>
    <input type="number" name="wholesale_price" id="wholesale_price" step="0.01" required>
    <br>
    <label for="retail_price">Set the retail price (higher than wholesale)</label>
    <input type="number" name="retail_price" id="retail_price" step="0.01" required>
    <br>
    <label for="rounds">How many rounds do you want for the game?</label>
    <input type="number" step="1" name="rounds" id="rounds" min="10" required>
    <br>
    <input type="button" id="gen_rounds"
           value="Click after selecting the number of rounds"
           onclick="addFields()"> <br>
    <div id="container" name="container">

    </div>
    <br>
</form>
</body>
</html>