{% extends 'admin/base.html' %}
{% block content %}
    <h1>What kind of template would you like to add?</h1>
    <br>
    <form method="post" id="add_det">
        <br>
        <label for="distribution_file">Choose a distribution:</label>
        <select name="distribution_file" id="distribution_file" required>
            {% for distribution in distributions %}
                <option value="{{ distribution }}">{{ distribution }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="description"> Please describe this template</label>
        <input type="text" id="description" name="description" required>
        <br>
        <input type="submit" value="Create template">
    </form>
{% endblock %}