{% extends 'admin/base.html' %}
{% block content %}
    <h1>Admin Creation</h1> <br>
    <h1>Here are a list of admin user names that you cannot use!</h1>
    <br/>
    {{ table }}
    <form method="post">
        <p>
            <label for="username">Please select a username that is under eight characters: </label>
            <input type="text" id="username" name="username" maxlength="8" required>
        </p>
        <p>
            <label for="password">Please select a password that is under eight characters: </label>
            <input type="text" id="password" name="password" maxlength="8" required>
        </p>
        <p>
            <label for="password">What is the name of the new admin: </label>
            <input type="text" id="name" name="name" required>
        </p>
        <input type="submit" value="Create admin">
    </form>
{% endblock %}