{% extends 'admin/base.html' %}
{% block content %}
    <h1>Which user would you like to reactivate?</h1>
    <br>
    <form action="" method="post">
        <label for="choice">Choose from this menu:</label>
        <select id="choice" name="choice" required>
            {% for i in range(0, length) %}
                <option value="{{ choices[i] }}">{{ choices[i] }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Reactivate this admin">
    </form>
{% endblock %}