{% extends 'base.html' %}
{% block content %}
        <h1> Start of day {% if game_mode == 1 or game_mode == 2 %}
            {{ form.day_index }}!
        {% endif %}</h1>
    <br/>
    <p>Number of Rounds: {{ current_par.nrounds }}</p>
    <p>Unit Wholesale Price: ${{ round(float(current_par.wholesale_price),2) }}</p>
    <p>Unit Retail Price: ${{ round(float(current_par.retail_price),2) }}</p>
    <p><strong>Demand Pattern: FROM
        {{ str(current_par.demand_pattern).split('.')[1].replace('_', ' ')}}
        {% if current_par.demand_pattern != DistributionType.SAMPLE_POOL %}
            Distribution
        {% endif %}
    </strong></p>
    {% if current_par.demand_pattern != DistributionType.SAMPLE_POOL %}
        <p>Historical Demand Samples: {{ current_demand.demand_past }}</p>
        <p>Demands From Previous Rounds: {{ previous }}</p>
        <p>Demand Range: {{ demand_range }}</p>
    {% elif current_par.demand_pattern == DistributionType.NORMAL %}
        <p>Demand Mean: {{ demand_mean }}</p>
        <p>Demand Standard Deviation: {{ demand_std_dev }}</p>
    {% elif current_par.demand_pattern == DistributionType.TRIANGULAR %}
        <p>Demand Peak: {{ demand_peak }}</p>
    {% endif %}

    <br/>
    <form action="" id="orderform" name="orderform" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.input.label }} <br>
            {{ form.input() }}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
    <h4>
        Reminder: default order amount (0) will be automatically submitted
        if you don't update and confirm your order in 2 minutes
    </h4>
    <script type="text/javascript">
        {
            window.onload=function(){window.setTimeout('document.orderform.submit()', 120000)}
        }
    </script>
{% endblock %}