{% extends "base.html" %}

{% block content %}
    <h1>Sign Up!</h1>
    <form action="" method="post"=e>
        <label for="uid">Student Number</label> <br>
        <input type="number" id="uid" name="uid" step="1"
               min="10000000"
               max="99999999"
               required> <br>
        <label for="name">Name</label> <br>
        <input type="text" id="name" name="name" required> <br>
        <label for="session_code">Session Code</label> <br>
        <select id="session_code" name="session_code" required>
            {% for option in options %}
                <option value="{{ option }}">{{ option }}</option>
            {% endfor %}
        </select>
        <br>
        <input type="submit" value="Sign up!">
    </form>
{% endblock %}