{% extends "base.html" %}

{% block content %}
    <h1> Welcome to the OpLog Simulator!</h1>
    <br>
    {% if qualified %}
        Sign-up (for first-time user in a new session) or Sign-in to a current session: <br>
        <p>
            <a href="{{ url_for('signup') }}">Sign Up</a>
        </p> <br>
        <p>
            <a href=" {{ url_for('login') }}">Log In</a>
        </p> <br>
    {% else %}
        <h2>
            No sessions are active at the moment. <br>
            Please wait for further instruction!
        </h2>
        <br>
    {% endif %}
    <p>
        For admins, please
        <a href=" {{ url_for('admin_login') }}">login here</a>
    </p>
{% endblock %}
